<%- include('partials/header') -%>
<h1>HOME</h1>
<p><%= homeStartingContent %></p>
<% posts.forEach(element => { %>
  <a href="posts/<%= element._id %>" class="title"><h3><%= element.title %></h3></a>
  <p>
    <%= element.content.length>=100 ? element.content.slice(0,100) + "..."  : element.content %>
    <% if (element.content.length>=100) { %>
      <a href="/posts/<%=element._id%>">Read More</a>
    <% } %>
  </p>
<% }) %>
<%- include('partials/footer') -%>